<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>privacy-policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">privacy-policy</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>This app only collects the necessary data required from artist such as the artist name, email, date of birth, gender(optional) the type of artwork being submitted, the date of the exhibition involving the artwork, and notes containing further information. This data is used strictly for showcasing the artworks and artist and is not shared with any third parties without the artist consent. The data submitted can be accessed and viewed at any time, as well as deleted if required. No data is stored anywhere else and is not altered in anyway upon submission.
  </p>
  <br>
  <h1>Security</h1>
  <p>Data submitted via this applications form is encrypted, ensuring it is safe from any and all unauthorized access. This app uses JWT as its authentication process, ensuring secure access for the user and protecting user data against web vulnerabilities. For more information on how this apps authentication process works, please read below.</p>
  <br>
  <h2>authentication process: JWT</h2>
  <p>This method uses self contained tokens that store user identity, This eliminates the need to keep session information on a server, increasing both security and performance, tokens are also encrypted ensuring the data is tamper proof. JWS uses HTTPS to ensure tokens cannot be intercepted during transit, tokens will also contain an expiration time to better protect user data against any malicious activity.</p>
  
</ion-content>
