<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/tabs/home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="artists-list" routerLink="artists-list">
      <ion-icon name="ellipse"></ion-icon>
      Artist List
    </ion-tab-button>
    <ion-tab-button tab="featured-artists" routerLink="featured-artists">
      <ion-icon  name="ellipse"></ion-icon>
      Featured artists
    </ion-tab-button>
    <ion-tab-button tab="modify-artists" routerLink="modify-artists">
      <ion-icon name="ellipse"></ion-icon>
      Modify artists
    </ion-tab-button>
    <ion-tab-button tab="new-artist" routerLink="new-artist">
      <ion-icon name="ellipse"></ion-icon>
      New artist
    </ion-tab-button>
    <ion-tab-button tab="search-artists" routerLink="search-artists/">
      <ion-icon name="ellipse"></ion-icon>
      Search artists
    </ion-tab-button>
    <ion-tab-button tab="privacy-policy" routerLink="privacy-policy">
      <ion-icon name="ellipse"></ion-icon>
      Privacy policy
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
