<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="artists-list" href="artists-list">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Artists list</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="featured-artists" href="featured-artists">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Featured artists</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="modify-artists" href="modify-artists">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Modify artists</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="new-artist" href="new-artist">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>New artist</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search-artists" href="search-artists/">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Search artists</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="privacy-policy" href="privacy-policy">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Privacy policy</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
