<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SCU Art Association Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <!-- Text Column -->
      <ion-col size="12" size-lg="6">
        <p>Welcome to the SCU Art Exhibition, a prestigious celebration of creativity and innovation held annually at Southern Cross University. We take immense pride in showcasing an array of masterpieces from talented artists hailing from every corner of the country. Our exhibition serves as a vibrant platform for artists to share their unique visions and for art enthusiasts to discover and admire their works. Join us in exploring a diverse collection of art pieces, spanning various mediums and themes, each telling its own story and evoking emotions that transcend the canvas. Whether you're an art connoisseur, an aspiring artist, or simply a lover of beauty, the SCU Art Exhibition promises an inspiring and enriching experience for all. Welcome, and let the journey of artistic discovery begin!</p>
      </ion-col>
      <!-- Image Column -->
      <ion-col size="12" size-lg="6">
        <ion-img src="assets/Images/canvas-photo.jpg" class="image-home"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="footer-column">
          <h3>Contact Us</h3>
          <p>scu.edu.au</p>
          <p>+123 456 7890</p>
          <p>Gold Coast Airport, Terminal Dr, Bilinga QLD 4225</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="footer-column">
          <p>&copy; 2024 SCUArtGallery.com. All rights reserved.</p>
          <p>Certified by the SCU Art Group</p>
          <p>Member of the SCU Art Exhibition</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="footer-column">
          <h3>Follow Us</h3>
          <!-- Icons linking to social media would go here -->
          <p>Facebook</p>
          <p>Twitter</p>
          <p>Instagram</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
