ion-footer {
    border-top: 2px solid var(--ion-color-medium);
    --background: var(--ion-color-light); /* Adjust the background color as needed */
    padding: 10px 0;
  
    .footer-column {
      text-align: center; /* Center the content of each column */
      padding: 10px; /* Add some padding around the content */
    }
  }