//Styling table of artist information

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
}
th, td {
  border: 1px solid white;
  text-align: left;
  padding: 10px;
}
th {
  background-color: lightblue;
}
